<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <%- include('../includes/header-admin.ejs') %>
    <main class="main-admin">    
        <%- include('../includes/navigation-admin.ejs') %>
        <section class="section-admin">
            <h2 class="home-greeting">Buen día <%= user.nombres %></h2>
            <div>
                Cantidad de usuarios
                Cantidad de prodcutos
                Cantidad de categoprias
                Cantidad de pedidos
            </div>
            <div>Actividad reciente</div>
            <p>Proximamente</p>
            <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Primis mi mauris netus interdum proin in bibendum eget. Dolor aliquam suscipit lobortis nostra ultrices; ligula volutpat convallis. Parturient cursus tortor ultricies; lobortis lobortis eget lorem eleifend. Vel habitasse montes tincidunt fringilla rhoncus. Penatibus nullam vivamus ultrices elementum mauris mus enim porttitor. Quam porttitor parturient hendrerit libero vitae, metus scelerisque platea. Porttitor vehicula ligula vestibulum magnis quis. Dolor lacus donec facilisi tristique eros viverra tortor. Curae facilisi erat phasellus quis luctus?

                Lobortis nisl fusce imperdiet egestas id non. Ipsum augue nulla nunc posuere finibus tristique ligula magna. Accumsan parturient varius pulvinar senectus luctus. Tempor leo lobortis maximus cubilia enim. Tortor elementum quisque dolor ante augue aenean dictum. Sodales fringilla lacinia himenaeos magna nisi. Curabitur dolor felis nascetur eget nam felis tincidunt consequat. Primis id non, laoreet maecenas mauris eleifend.
                
                Pulvinar gravida augue nulla netus tortor vitae nisi suscipit. Semper et potenti erat netus nam nunc curabitur. Auctor lorem curae feugiat sagittis pharetra; a nascetur conubia. Habitasse nostra donec eros odio id litora. Augue nisi duis pharetra et interdum. Mi magnis nibh mus ligula lacinia interdum.
                
                Quis duis litora sodales sit amet vel. Commodo orci ligula molestie proin primis quisque condimentum neque. Maximus lacinia ad tristique massa tincidunt. Finibus lacus praesent efficitur porta malesuada maximus mi. Torquent sed adipiscing; taciti hac lobortis eu duis. Interdum nullam vitae vehicula feugiat bibendum litora. Venenatis senectus interdum aenean eros cursus.
                
                Pharetra ultricies id id accumsan non. Litora class vestibulum metus interdum aliquet aliquam. Fringilla conubia semper nisi sem; ligula mi augue ultricies. Cursus dictum purus libero egestas auctor hac diam rhoncus taciti. Semper nec id feugiat eleifend porttitor fusce eros eu. Ullamcorper viverra etiam ante eget est. Bibendum vitae tempor efficitur torquent nisl libero ex. Ac vestibulum mollis blandit pretium donec habitasse elit lacinia.
                
                Cursus sagittis rhoncus sed parturient orci eleifend. Nunc ipsum luctus sagittis; libero venenatis vel eros diam. Duis class feugiat libero convallis lacus fringilla nisl. Iaculis suscipit sit nec blandit potenti blandit ultricies egestas nascetur. Lorem dui phasellus ante faucibus, volutpat in sociosqu. In per ullamcorper cursus mollis pulvinar netus suscipit sollicitudin. Maximus accumsan nisl pretium metus pellentesque scelerisque. Iaculis pellentesque fames ullamcorper risus eros tristique eleifend.
                
                Laoreet mattis commodo platea ac accumsan. Lacinia magnis laoreet aenean; ipsum congue condimentum auctor nulla. Porttitor platea vestibulum cursus fringilla praesent fames. Himenaeos venenatis augue eros primis magna eros ipsum. Potenti ullamcorper consequat pellentesque conubia ad odio eleifend. Fames at scelerisque mattis non pharetra rhoncus odio. Est libero cursus ex montes ex.
                
                Etiam fames arcu cursus odio euismod congue elit? Blandit condimentum duis dui erat suspendisse arcu primis mus hendrerit. Duis non maecenas platea sit euismod. Habitant magna dictum enim tristique fames lobortis vestibulum donec. Ut scelerisque placerat sit; iaculis molestie ullamcorper. Varius hendrerit condimentum dapibus habitant eget fermentum euismod. Interdum aliquam curabitur id penatibus imperdiet. Lacus justo augue orci class class. Suspendisse nisl nullam nullam pellentesque, fusce magnis curae faucibus.
                
                Libero metus ultricies morbi tempus sollicitudin fusce massa. Praesent viverra libero et condimentum sollicitudin sagittis phasellus amet bibendum. Ridiculus integer consectetur ac proin pretium, maximus leo. Luctus velit volutpat potenti elit faucibus neque pretium morbi. Praesent blandit adipiscing scelerisque quisque luctus sociosqu facilisis purus. Duis montes curae nascetur, augue elementum sociosqu? Curae purus vel in consequat natoque viverra. Cubilia nec porttitor neque posuere, ridiculus ultricies senectus vivamus.
                
                Ad a mollis malesuada, nam netus aptent ad massa. Faucibus taciti tellus urna placerat inceptos! Fermentum vitae eu felis est montes rutrum ultrices euismod. Mi eget dignissim magna, enim id nec praesent. Risus nulla etiam primis aliquet litora dolor. Nulla est torquent interdum felis leo congue gravida ipsum erat. Tincidunt tempor augue ad accumsan orci vulputate nullam tortor ridiculus. Egestas montes vel phasellus sit; lacinia scelerisque vel. Dolor pretium enim congue tellus netus dignissim natoque pellentesque ad?</p>
        </section>             
    </main>        
</body>