<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/producto.css">

    </head>

    <body>
        <%- include('../includes/header-publicidad.ejs') %>
            <%- include('../includes/navigation.ejs') %>
                <main>
                    <section>
                        <h1>Accesibilidad</h1>
                    </section>
                </main>
                <%- include('../includes/end.ejs') %>