<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/producto.css">

    </head>

    <body>
        <%- include('../includes/header-publicidad.ejs') %>
            <%- include('../includes/navigation.ejs') %>

                <main>
                    <h1>Probando</h1>
                </main>
                <%- include('../includes/end.ejs') %>